@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    @apply lg:text-base  text-sm m-0 p-0 box-border
}

.body{
    @apply bg-[#A9E4F2] w-screen h-screen grid place-items-center
}

main{
    @apply bg-[#febae9] lg:w-[70%] lg:h-[33rem] h-[90%] w-[90%] flex flex-col items-center justify-center gap-6 rounded-xl
}
main h1{
    @apply text-[2.5rem] font-serif
}
input{
    @apply bg-[#eaeef1] h-8 block w-[25rem] px-2 outline-none rounded-l-lg 
}
input::placeholder{
@apply pl-0.5
}
button{
    @apply bg-white px-8 rounded-r-lg hover:bg-[#39ba39] hover:text-white font-[500]
}
.inputbtnerr{
    @apply flex flex-col justify-center items-center gap-2
}
.error{
    @apply w-max h-6 flex justify-center items-center
}
.inputbtn{
    @apply flex gap-0 
}

.result{
@apply bg-[#A9E4F2] w-[80%] h-[12rem] rounded-lg shadow-md shadow-black flex justify-center items-center px-10
}

.result button{
    @apply bg-transparent p-0 border-blue-900 border-[1px] h-10 w-20 flex justify-center items-center bg-gray-500
}
.result button >img{
    @apply w-6 h-6 block
}


.result .answer{
    @apply w-full h-10 bg-blue-500 text-white flex justify-center items-center rounded-l-xl
}
.result .copiedbtn{
    @apply bg-green-300
}

.efficiency{
    @apply text-green-700 h-[6rem] w-full flex flex-col items-center justify-center w-max gap-1
}
.efficiency p,.efficiency p span{
    @apply text-[1.3rem]
}

/* #febae9 */